@using BookSpark.Models.BookViewModels
@using BookSpark.Data.Entities


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BookViewModel>
<style>
    main{
        background-color: white;
    }
    #addtowishlist{
        max-height:50%;
        max-width:50%;
    }
    #searchBooks{
        margin-left: 1rem;
    }
</style>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Book catalog</h1>
       @*  <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p> *@
    </div>
</section>

<input id="searchBooks" />

<div id="catalog" class="album py-5 bg-light">
    <div class="container">
        <div class="row">
@foreach (var book in Model)
{
    

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img src=@book.ImageLink alt="The image is not found">
                        <div class="card-body">
                            <p class="card-text">@book.Title</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button>
                                        <a asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id">Detail</a>
                                    </button>
                                    <button>
                                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">Edit</a>
                                    </button>
                                    <button>
                                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">Delete</a>
                                    </button>
                                        <a asp-controller="Wishlist" asp-action="Add" asp-route-bookId="@book.Id">
                                            <img id="addtowishlist" src="https://cdn4.iconfinder.com/data/icons/ui-elements-29/64/Add-Bookmark-save-wishlist-ui-512.png" />
                                        </a>
                                </div>
                                <small class="text-muted">@book.Author.Name</small>
                                <small class="text-muted">@book.Genre.Name</small>
                            </div>
                        </div>
                    </div>
                </div>
}
        </div>
    </div>
</div>

</main>

<a asp-controller="Book" asp-action="Add" class="btn btn-primary">Add book</a>